<mat-card class="user-card">
    <mat-card-title>Categorize transaction</mat-card-title>
    <mat-card-subtitle>
      <mat-nav-list class="list-horizontal">
        
        <mat-list-item>
          ID : {{transactionId}}
        </mat-list-item>

        <mat-list-item>
          Amount : {{amount}}
        </mat-list-item>

        <mat-list-item>
          Beneficary: {{beneficiaryName}}
        </mat-list-item>

        <mat-list-item>
          Current category : {{categoriesViewMap.get(category)}}
        </mat-list-item>

        <mat-list-item>
          Currency : {{currency}}
        </mat-list-item>

        <mat-list-item>
          date : {{date}}
        </mat-list-item>

        <mat-list-item>
          Description : {{description}}
        </mat-list-item>

        <mat-list-item>
          Direction : {{directionViewMap.get(direction)}}
        </mat-list-item>

        <mat-list-item>
          Kind : {{kindViewMap.get(kind)}}
        </mat-list-item>
        
        <mat-list-item>
          Mcc : {{mcc}}
        </mat-list-item>

      </mat-nav-list>
    </mat-card-subtitle>
    <mat-card-content>
        <form [formGroup] = "fgTopCategory">
            <mat-form-field appearance="fill">
              <mat-label>Top level category</mat-label>
              <mat-select formControlName="topCategoryFormControl">
                <mat-option *ngFor="let category of topLevelCategories" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </form>
      
        <form [formGroup] = "fgLowerCategory">
            <mat-form-field appearance="fill">
              <mat-label>Subcategory (optional)</mat-label>
              <mat-select formControlName="lowerCategoryFormControl">
                <mat-option *ngFor="let category of lowerLevelCategories" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </form>

        <button mat-icon-button color="primary" matTooltip="Confirm category"
            (click)="categorizeTransaction()" aria-label="Example icon button with a bookmark icon">
              <mat-icon>check_circle</mat-icon>
              <span>  Add category</span>
        </button>

        <mat-card-actions allign="end">
            <button style="background-color: red" id="back-button" mat-button (click)="back()">BACK</button>
        </mat-card-actions>

    </mat-card-content>
  </mat-card>